.header {
    /* background-color: aquamarine; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px rgb(189, 183, 183) ;
}
.logo {
    max-width: 5rem;
}
.nav-bar {
    /* background-color: chartreuse; */
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-bar__item {
    /* background-color: chocolate; */
    padding: 1rem;

}
.nav-bar__link {
    text-decoration: none;
    background-color: cornflowerblue;
    color: cornsilk;
    padding: .4rem;
    border-radius: .2rem;


}
.img-welcome {
    width: 70%;
    margin-right: 12rem;
    margin-top: 1rem;
}